<div class="lefttop"><span></span>通讯录</div>
<dl class="leftmenu">
	<dd>
		<div class="title">
			<span><img src="/images/leftico01.png" /></span>管理信息
		</div>
		<ul class="menuson">
			<li class="<% if(page=='index') { %> active <% } %>"><cite></cite><a href="/admin">首页</a><i></i></li>
			<li class="<% if(page=='coursestate') { %> active <% } %>"><cite></cite><a href="/admin/coursestate">选课状态</a><i></i></li>
			<li class="<% if(page=='student') { %> active <% } %>"><cite></cite><a href="/admin/student">学生管理</a><i></i></li>
			<li class="<% if(page=='coursemanager') { %> active <% } %>"><cite></cite><a href="/admin/coursemanager">课程管理</a><i></i></li>
			<li class="<% if(page=='baobiao') { %> active <% } %>"><cite></cite><a href="/admin/baobiao">报表</a><i></i></li>
		</ul>
	</dd>
	<dd>
		<div class="title">
			<span><img src="/images/leftico02.png" /></span>管理操作
		</div>
		<ul class="menuson">
			<li class="<% if(page=='studentImport') { %> active <% } %>"><cite></cite><a href="/admin/student/import">导入学生excel表</a><i></i></li>
			<li><cite></cite><a href="#">发布信息</a><i></i></li>
			<li><cite></cite><a href="#">档案列表显示</a><i></i></li>
		</ul>
	</dd>
	<dd>
		<div class="title"><span><img src="/images/leftico03.png" /></span>编辑器</div>
		<ul class="menuson">
			<li><cite></cite><a href="#">自定义</a><i></i></li>
			<li><cite></cite><a href="#">常用资料</a><i></i></li>
			<li><cite></cite><a href="#">信息列表</a><i></i></li>
			<li><cite></cite><a href="#">其他</a><i></i></li>
		</ul>
	</dd>
	<dd>
		<div class="title"><span><img src="/images/leftico04.png" /></span>日期管理</div>
		<ul class="menuson">
			<li><cite></cite><a href="#">自定义</a><i></i></li>
			<li><cite></cite><a href="#">常用资料</a><i></i></li>
			<li><cite></cite><a href="#">信息列表</a><i></i></li>
			<li><cite></cite><a href="#">其他</a><i></i></li>
		</ul>
	</dd>
</dl>
<script type="text/javascript">
	$(function() {
		//导航切换
		$('.title').click(function() {
			var $ul = $(this).next('ul');
			$('dd').find('ul').slideUp();
			if ($ul.is(':visible')) {
				$(this).next('ul').slideUp();
			} else {
				$(this).next('ul').slideDown();
			}
		});
	})
</script>
